extends layout

block content
  h1= title
  p Use the form below to edit this contact.
  hr
  if msg 
    p(class='error-msg')= msg
  form(method='POST' action=`/contacts/${contact.id}/edit`)
    input(type="text", name="firstName", value=contact.name)
    | 
    button.btn-edit(type='submit') Confirm Edit
    | 
    a(href=`/contacts/${contact.id}`) Cancel
 

